/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/space.png') no-repeat center center fixed;
    background-size: cover;
  }

.profile-card {
    margin-top: 150px;
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    width: 480px;
    max-width: calc(100vw - 10px);
}

.head, .links {
    text-align: center;
}

.profile-image {
    margin-top: -75px;
}

.content, .head {
    width: 90%;
    margin: 0 auto;
}

.head {
    margin-bottom: 50px;
}

.name-headline {
    margin-top: 7px;
}

#name, #description {
    margin-bottom: 4px;
}

#source {
    font-size: 0.7em;
    margin-bottom: 15px;
}

.content {
    margin: -25px auto -15px auto;
    padding: 5% 8%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.about {
    padding-bottom: 8px;
    text-align: justify;
}

.profile-pictures {
    width: auto;
    height: 150px;
    border-radius: 25%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
}

/* List */

ul {
    list-style-type: square;
    list-style-position: inside;
  }

/* Interactions */

.profile-image:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(15%);
}

/* button */

.back-button {
    border-radius: 12px;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    left: 38%;
}

.back-button:hover {
    background-color: white;
    color: black;
  }